body {
	font-family: Arial, sans-serif;
	color: #272c2f;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
	font-size: 15px;
	letter-spacing: 0.02em;
}

.container {
	width: 960px;
	margin: 0 auto;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
	line-height: 1.5em;
	letter-spacing: 0.02em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
 
h1 {
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

h2 {
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

h3 {
	font-size: 17px;
	letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation {
	background: #455991;
	color: #fff;
	padding: 35px 0 31px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.logo {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.menu {
	display: flex;
	justify-content: space-between;
	margin: 2px 0 0 59px;
	text-decoration: none;
	border-bottom: 1px #fff;
}

.menu li:not(:last-child) {
	margin-right: 26px;
}

.menu li a {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}

.order {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	margin-top: 2px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

.offer {
	background: #fff;
	color: #272c2f;
}

.main {
	padding: 76px 0 37px 0;
}

.intro {
	font-size: 14px;
	font-weight: normal;
	color: #828899;
	margin-top: 17px;
	line-height: 1.6em;
}

.cards {
	display: flex;
	justify-content: space-between ;
	align-items: flex-start;
	line-height: 1.4em;
}

.card {
	border: 1px solid #d4d4d4;
	padding: 27px 27px 25px 28px;
	width: 308px;
}

.cards p {
	margin-top: 13px;
}

.card:not(:last-child) {
	margin-right: 17px;
}

.card-two {
	border-radius: 15px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.card-tree .url {
	font-size: 15px;
	font-weight: bold;
	color: #22a2ec;
	text-decoration: none;
	margin-top: 7px;
	display: block;
}

.inform {
	display: flex;
}

.registration p {
	font-size: 12px;
	color: #84898d;
	font-weight: normal;
	margin-top: 17px;
}

.registration {
	width: 360px;
	padding: 50px 0 66px 0;
}

.registration h2 {
	margin-bottom: 37px;
	letter-spacing: 0.02em;
}

.form input {
	border: 1px solid #d6d6d6;
	font-size: 15px;
	width: 239px;
	padding: 14px 18px 15px 22px;
	background: transparent;
	font-family: Arial, sans-serif;
	margin-bottom: 9.5px;
	color: #000;
}

textarea {
	border: 1px solid #d6d6d6;
	font-size: 15px;
	width: 318px;
	height: 92px;
	padding: 14px 18px 15px 22px;
	background: transparent;
	font-family: Arial, sans-serif;
	color: #000;
	resize: none;
	letter-spacing: 0.02em;
}

.send {
	margin-top: 18px;
	background: #ebce0d;
	font-weight: bold;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	display: block;
	padding: 13px 0 13px 9px ;
	text-align: center;
	width: 166px;
	font-family: Arial, sans-serif;
	border: none;
	cursor: pointer;
	letter-spacing: 0.02em;
}

.card-color {
	background: #184c6b;
	color: #c0ddee;
	border-radius: 10px;
	padding: 42px 47px 34px 43px ;
	margin: 47px 0 70px 53px;
}

.caption h3 {
	text-transform: uppercase;
}

.nocaption {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	font-size: 14px;
}

.with-picture {
	margin-top: 21px;
}

.no-picture {
	margin: 21px 0 0 38px;
}

.with-picture p {
	margin-bottom: 18px;
}

.img-card {
	width: 208px;
	height: 122px;
}

.section .container {
	display: flex;
	justify-content: space-between;
}

.text {
	background: #455991;
	color: #fff;
	padding: 30px 0 35px 0;
	font-size: 13px;
	letter-spacing: 0.02em;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.one {
	font-weight: bold;
	border-radius: 5px;
	color: #fff;
	background-color: #455991;
	border: 1px solid #fff;
	font-size: 12px;
	display: block;
	text-align: center;
	width: 145px;
	height: 37px;
	font-family: Arial, sans-serif;
	letter-spacing: 0.02em;
	margin-top: 2px;
}

.two {
	font-weight: bold;
	border-radius: 18.5px;
	color: #fff;
	background-color: #455991;
	border: 1px solid #fff;
	font-size: 12px;
	display: block;
	text-align: center;
	width: 148px;
	height: 37px;
	font-family: Arial, sans-serif;
	letter-spacing: 0.02em;
	margin-top: 1px;
}

.excerpt {
	font-weight: normal;
	border-radius: 3px;
	color: #455991;
	background-color: #fff;
	border: none;
	font-size: 12px;
	display: block;
	width: 229px;
	height: 40px;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 12px 5px 12px 0;
}

.box {
	display: flex;
	justify-content: space-between;
	width: 595px;
}
