body {
	font-family: Arial, sans-serif;
	color: #272c2f;
	padding: 0;
	margin: 0;
}

.container {
	width: 960px;
	margin: 0 auto;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}


p {
	margin: 0;
	line-height: 1.5em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
 
h1 {
	font-size: 23px;
	text-transform: uppercase;
}

h2 {
	font-size: 19px;
	text-transform: uppercase;
}

h3 {
	font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation {
	background: #455991;
	color: #fff;
	padding: 30px 0 35px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.logo {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.menu {
	display: flex;
}

.menu li {
	margin-right: 26px;
}

.menu li a {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}


.order {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

.offer {
	background: #fff;
	color: #272c2f;
}

.main {
	margin: 70px 0 40px 0;
}

.intro {
	font-size: 14px;
	font-weight: normal;
	color: #828899;
	padding: 15px 0 0 0;
}

.cards {
	display: flex;
	justify-content: space-between ;
}

.card-one {
	border: 1px solid #d4d4d4;
	padding: 25px 25px 30px 30px;
	width: 308px;
	height: 222px;
	margin-right: 17px;
}

.card-two {
	padding: 25px 25px 30px 30px;
	border-radius: 15px;
	width: 308px;
	height: 222px;
	margin-right: 17px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.card-tree {
	border: 1px solid #d4d4d4;
	padding: 25px 25px 30px 30px;
	width: 308px;
	height: 250px;
}

.card-tree .url {
	font-size: 15px;
	font-weight: bold;
	color: #22a2ec;
	text-decoration: none;
	padding: 10px 0 0 0;
	display: block;
}

.cards p {
	padding: 12px 0 0 0;
	font-size: 15px;
}

.form input {
	border: 1px solid #d6d6d6;
	font-size: 15px;
	width: 239px;
	padding: 13px 18px  17px;
	background: transparent;
	font-family: Arial, sans-serif;
	margin-bottom: 11px;
	color: #000;
}
.send {
	margin-top: 12px;
	background: #ebce0d;
	font-weight: bold;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	display: block;
	padding: 13px 0;
	text-align: center;
	width: 166px;
	font-family: Arial, sans-serif;
	border: none;
	cursor: pointer;
}

.inform {
	display: flex;
}

.registration p {
	font-size: 12px;
	color: #84898d;
	font-weight: normal;
	padding-top: 17px;
}

.registration {
	width: 360px;
	margin: 55px 0 0 0;
}

.registration h2 {
	padding-bottom: 35px;
}

.card-color {
	background: #184c6b;
	color: #c0ddee;
	width: 546px;
	height: 456px;
	border-radius: 10px;
	padding: 37px 42px 40px 42px ;
	margin: 47px 0 70px 55px;
}

.nocaption {
	display: flex;
	font-size: 14px;
}

.no-picture p {
	padding: 0 0 0 35px;
}

.with-picture p {
	padding: 0 0 20px 0;
}

.nopicture {
	margin: 0 0 0 32px;
}

.section .container {
	display: flex;
	justify-content: space-between;
}

.caption h3 {
	text-transform: uppercase;
	padding: 0 0 25px 0;
}

.text {
	background: #455991;
	color: #fff;
	padding: 30px 0 35px 0;
	font-size: 13px;
	padding: 32px 0 30px 0;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.one {
	font-weight: bold;
	border-radius: 5px;
	color: #fff;
	background-color: #455991;
	border: 1px solid #fff;
	font-size: 12px;
	display: block;
	text-align: center;
	width: 145px;
	height: 37px;
	font-family: Arial, sans-serif;
}

.two {
	font-weight: bold;
	border-radius: 18.5px;
	color: #fff;
	background-color: #455991;
	border: 1px solid #fff;
	font-size: 12px;
	display: block;
	text-align: center;
	width: 148px;
	height: 37px;
	font-family: Arial, sans-serif;
	margin-left: 12px;
}

.excerpt {
	font-weight: normal;
	border-radius: 3px;
	color: #455991;
	background-color: #fff;
	border: none;
	font-size: 12px;
	display: block;
	width: 229px;
	height: 40px;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 12px 0 12px 0;
}

.box {
	display: flex;
	justify-content: space-between;
	width: 595px;
}
